*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    width: auto;
    height: auto;
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root{
    --mainbg : hsl(222, 26%, 31%);
    --darkblue-input: hsl(224, 36%, 15%);
    --darkblue-keypad: hsl(223, 31%, 20%);
}


body{
    align-items: center;
    background-color: var(--mainbg);
}

.title{
    display: flex;
    color: white; 
    justify-content: left;
    width: 600px;
    margin-bottom: 30px;
    font-weight: 500;

}

.calc{
    font-family: 'Spartan', sans-serif;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.display-calc{
    background-color: var(--darkblue-input);
    border-radius: 10px;    
    width: 600px;
    height: 100px;
}

.keypad{
    background-color: var(--darkblue-keypad);
    margin-top: 20px;    
    padding: 23px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
}


button {
    font-family: 'Spartan', sans-serif;
    font-weight: 800;
    padding: 17px 40px;
    border-radius: 10px;
    width: auto;
    border: 0;
    align-items: center;
    text-align: center;
    background-color: hsl(30, 25%, 89%);
    letter-spacing: 1.5px;
    font-size: 30px;
    transition: all .3s ease;
    box-shadow: hsl(28, 16%, 65%) 0px 4px 0px 0px;
    color: hsl(221, 14%, 31%);
   }
   
   button:hover {
    box-shadow: hsl(28, 16%, 65%) 0px 4px 0px 0px;
   }
   
   button:active {
    background-color: hsl(29, 9%, 47%);
    /*50, 168, 80*/
    box-shadow: hsl(28, 16%, 65%) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }


.keyboard{
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
    
.keyboard2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 22px;
}

#delete, #reset{
    font-size: 20px;
    font-weight: 800 !important;
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%) 0px 4px 0px 0px;
    color: white;  
}

#delete:active, #reset:active {
        background-color: hsl(224, 28%, 35%);
}

#igual{
    background-color: hsl(6, 63%, 50%);
    color: white;
    box-shadow: hsl(6, 70%, 34%) 0px 4px 0px 0px;
}

#igual:active{
    background-color: hsl(6, 70%, 34%);
}